<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>アルバム</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/top}">
				<img src="img/cmt_logo.png" alt="AskCommittee" />
			</a>
		</div>
		<h1>アルバム</h1>
		<ul class="box-list">
			<li>
				<div>
					<img src="img/20191227_5.jpg" height="127px" width="169px">
				</div>
				<h2>おさ</h2>
				<p>納会のパスタマン</p>
			</li>
			<li>
				<div>
					<img src="img/20191227_1.jpg" height="127px" width="169px">
				</div>
				<h2>このタイトル</h2>
				<p>別に要らんくね</p>
			</li>
			<li>
				<div>
					<img src="image03.jpg">
				</div>
				<h2>Title</h2>
				<p>Description</p>
			</li>
			<li>
				<div>
					<img src="image04.jpg">
				</div>
				<h2>Title</h2>
				<p>Description</p>
			</li>
			<li>
				<div>
					<img src="image05.jpg">
				</div>
				<h2>Title</h2>
				<p>Description</p>
			</li>
		</ul>
		<p th:text="じゅんびちゅう" />
		<br /> <br /> <a href="http://localhost:8080/top"
			class="btn-circle-border-double">TOPページへ</a> <br /> <br />
	</div>
</body>
</html>
