<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>予算変更完了</title>
</head>
<body>
	<div align="center">
		<h1>予算変更完了</h1>
		<br />
		<p>変更完了！！！！！！！！！！！！！！！！！！</p>
		<br /> <br />
		<button type="button"
			onclick="location.href='http://localhost:8080/budget'">予算TOPへ</button>
		<br /> <br />
		<button type="button"
			onclick="location.href='https://www.asking.co.jp/'">帰属意識を高めよう</button>
	</div>
</body>
</html>