<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>予算変更完了</title>
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/top}">
				<img src="img/cmt_logo.png" alt="AskCommittee" />
			</a>
		</div>	
		<h1>予算変更完了</h1>
		<br />
		<p class="moji1">予算の変更を完了しました(*ゝω・)ﾉ ♪</p>
		<br /> <br />
		<button type="button" class="button"
			onclick="location.href='http://localhost:8080/budget'">予算TOPへ</button>
		<br /> <br />
		<a href="https://www.asking.co.jp/" class="btn-flat-vertical-border">帰属意識を高めよう</a>
	</div>
</body>
</html>