<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>AskCommittee</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<h1>予算</h1>
		<p>予算をみれるよ</p>
		<table border="1">
			<tr>
				<th>予算</th>
				<td>データベース値</td>
			</tr>
			<tr>
				<th>参加人数</th>
				<td>データベース値</td>
			</tr>
		
		</table>
		<br />
		
		
		<button type="button" class="button" onclick="location.href='http://localhost:8080/budgetchange'">予算の変更</button>
		<br />
		<br />
		<a href="https://www.asking.co.jp/" class="btn-flat-vertical-border">帰属意識を高めたくなった</a>
			<br /> <br />
	</div>
</body>
</html>

