<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>予算変更確認</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center">
		<h1>予算変更確認</h1>
		<p>以下の予算変更を完了します。よろしいですか？</p>
		<table border="1">
			<tr>
				<th>予算</th>
				<td>55000</td>
			</tr>
			<tr>
				<th>人数</th>
				<td>13</td>
			</tr>

		
		</table>
		<br /> <br /> <button type="button" onclick="location.href='http://localhost:8080/budget/comple'">はい</button>
		<button type="button" onclick="location.href='http://localhost:8080/budget/change'">いいえ</button>
	</div>
</body>
</html>