<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>予算変更確認</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/top}">
				<img src="img/cmt_logo.png" alt="AskCommittee" />
			</a>
		</div>	
		<h1>予算変更確認</h1>
		<p>以下の予算変更を完了します。よろしいですか？</p>
		<form method="post" action="/budgetconfirm">
		<table>
			<tr>
				<th>目的</th>
				<td><span th:text="${budgetRequest.purpose}"></span></td>
				<th>日時</th>
				<td><span th:text="${budgetRequest.day}"></span></td>
				<th>人数</th>
				<td><span th:text="${budgetRequest.num_people}"></span></td>
			</tr>
		</table>
		<table id="sample1_table">
			<tr>
				<th>内容</th>
				<th>金額</th>
				<th>支払先</th>
				<th>備考</th>
			<tr>
			<tr><td><span th:text="${budgetRequest.budget_info}"></span></td>
				<td><span th:text="${budgetRequest.amount}"></span></td>
				<td><span th:text="${budgetRequest.payee}"></span></td>
				<td><span th:text="${budgetRequest.remark}"></span></td>
			</tr>
		</table>
		</form>
		<br /> <br /> <button type="button" class="button" onclick="location.href='http://localhost:8080/budgetcomple'">はい</button>
		<button type="button" class="button" onclick="location.href='http://localhost:8080/budgetchange'">いいえ</button>
	</div>
</body>
</html>