<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>AskCommittee</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<h1>予算</h1>
		<p>予算をみれるよ</p>
		<table>
			<tr>
				<th>目的</th>
				<td>納会</td>
				<th>日時</th>
				<td>2019/12/27</td>
				<th>人数</th>
				<td>13名</td>
			</tr>
		</table>

		<table id="sample1_table">
			<tr>
				<th>内容</th>
				<th>金額</th>
				<th>支払先</th>
				<th>備考</th>
			<tr>
			<tr>
				<td>飲食</td>
				<td>￥5000</td>
				<td>AJO</td> 
				<td></td>
			</tr>
		</table>
		<br />
		
		
		<button type="button" class="button" onclick="location.href='http://localhost:8080/budgetchange'">予算の変更</button>
		<br />
		<br />
		<a href="https://www.asking.co.jp/" class="btn-flat-vertical-border">帰属意識を高めたくなった</a>
			<br /> <br />
	</div>
</body>
</html>

