<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>AskCommittee</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/top}">
				<img src="img/cmt_logo.png" alt="AskCommittee" />
			</a>
		</div>
		<h1>予算</h1>
		<table>
			<tr th:each="ask_budget_content : ${ask_budget_content}">
				<th>目的</th>
				<td th:text="${ask_budget_content.get('purpose')}"></td>
				<th>日時</th>
				<td th:text="${ask_budget_content.get('day')}"></td>
				<th>人数</th>
				<td th:text="${ask_budget_content.get('num_people')}"></td>
			</tr>
		</table>

		<table id="sample1_table">
			<tr>
				<th>内容</th>
				<th>金額</th>
				<th>支払先</th>
				<th>備考</th>
			<tr>
			<tr th:each="ask_budget_detail : ${ask_budget_detail}">
				<td th:text="${ask_budget_detail.get('budgetInfo')}"></td>
				<td th:text="${ask_budget_detail.get('amount')}"></td>
				<td th:text="${ask_budget_detail.get('payee')}"></td>
				<td th:text="${ask_budget_detail.get('remark')}"></td>
			</tr>
		</table>
		<br /> 
		<span th:each="ask_budget_content : ${ask_budget_content}" th:text="'予算：￥' + ${ask_budget_content.budget}" class="under"></span>
		<span class="moji1">-</span> 
		<span th:text="'合計：￥' + ${total}" class="under"></span> 
		<span class="moji1">=</span> 
		<span th:text="'残高：￥' + ${balance}" class="under"></span> <br /> <br /> <br />
		<button type="button" class="button"
			onclick="location.href='http://localhost:8080/budgetchange'">予算の変更</button><form method="post" action="#" th:action="@{/budget}">
			<input type="submit" value="予算保存" class="button"/>
			</form>
		<br /> <br /> <a href="http://localhost:8080/top"
			class="btn-circle-border-double">TOPページへ</a> <br /> <br />
			
	</div>
</body>
</html>

