<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>ログイン画面</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/login}">
				<img src="img/cmt_logo.png" alt="AskCommittee" />
			</a>
		</div>
		<h1>ログイン画面</h1>
		<div th:if="${param.logout}">
			<p>ログアウトしました</p>
		</div>
		<div th:if="${param.error}">
			<p>ユーザー名またはパスワードが違います</p>
		</div>
		
		<form th:action="@{/top}" method="post">
		<table>
 		<tr>
			<th>UserName</th>
			<td><input type="text" name="username" size="40" /></td>
		</tr>

		<tr>
			<th>PassWord</th>
			<td><input type="password" name="password" size="40" /></td>
		</tr>
		</table>
		<br /> <input type="submit" value="Login" class="button">
		</form>
		<br />
		<a th:href="@{/register}">登録</a>
		<a th:href="@{/withdraw}">退会</a>
		<hr />
	</div>
</body>
</html>
