<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>メンバー紹介</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/top}">
				<img src="img/cmt_logo.png" alt="AskCommittee" />
			</a>
		</div>
		<h1>メンバー紹介</h1>
		
		<p>暇すぎるのでメンバー紹介に走る</p> 
		<br/>
		<br/>
		<a href="http://localhost:8080/top"
			class="btn-circle-border-double">TOPページへ</a> <br /> <br />
	</div>
</body>
</html>