<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8">
<title>登録完了</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<img src="img/cmt_logo.png" alt="AskCommittee"/>
		</div>
		<h1>登録完了</h1>
	
		<p>登録が完了しました。</p>
		<img src="img/register.png" alt="ぎっともとは" width="492" height="332">
		<br />
		<a th:href="@{/login}">ログイン画面へ</a>
		<br />

	</div>

</body>
</html>