<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8">
<title>登録確認</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/login}">
				<img src="img/cmt_logo.png" alt="AskCommittee" />
			</a>
		</div>
		<h1>登録確認</h1>
		
		<form method="post" action="/registerconfirm">
		<span>社員番号: </span>
		<span th:text="${}"></span>
		<br />
		<span>名前</span>
		<span th:text="${}"></span>
		<br />
		<span>メールアドレス</span>
		<span th:text="${}"></span>
		<br />
		<span>パスワード</span>
		<span th:text="${}"></span>
		<br />
		</form>
	
		<p>上記の内容で登録します。よろしいでしょうか？</p>
		<a th:href="@{/register}">戻る</a>
		<a th:href="@{/registercomple}">登録</a>
	</div>

</body>
</html>