<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>スケジュール</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
	<link rel="stylesheet" href="css/fullcalendar/core/main.min.css"/>
    <link rel="stylesheet" href="css/fullcalendar/daygrid/main.min.css"/>
	
	<script src="js/fullcalendar/core/main.min.js"></script>
    <script src="js/fullcalendar/daygrid/main.min.js"></script>
    <script src="js/fullcalendar/ja.js"></script>

	<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'dayGrid' ]
        });

        calendar.render();
      });
	</script>
	
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/top}">
				<img src="img/cmt_logo.png" alt="AskCommittee" />
			</a>
		</div>

		<h1>スケジュール</h1>
			<div id='calendar'></div>
		<br />
			<a th:href="@{/scheduleregister}" class="button">編集はこちら</a>
		<br/>
		<br/>
		<a href="http://localhost:8080/top"
			class="btn-circle-border-double">TOPページへ</a> <br /> <br />	
	</div>
	
</body>
</html>