<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<head>
<meta charset="utf-8">
<title>スケジュール編集完了</title>
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/top}">
				<img src="img/cmt_logo.png" alt="AskCommittee" />
			</a>
		</div>
		<h1>スケジュール編集完了</h1>
		<br />
		<p>変更が完了しました</p>
		<br /> <br />
		<button type="button"
			onclick="location.href='http://localhost:8080/schedule'">スケジュールTOPへ</button>
		<br /> <br />
		<button type="button"
			onclick="location.href='https://www.asking.co.jp/'">帰属意識を高めよう</button>
	</div>
</body>
</html>