<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>スケジュール編集確認</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/top}">
				<img src="img/cmt_logo.png" alt="AskCommittee" />
			</a>
		</div>
		<h1>スケジュール編集確認</h1>
		<p>以下のスケジュールを登録しますか？</p>
			<button type="button" onclick="location.href='http://localhost:8080/schedulecomple'">はい</button>
			<button type="button" onclick="location.href='http://localhost:8080/scheduleregister'">いいえ</button>
		<br/>
		<br/>
	</div>
</body>
</html>