<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>お店リスト</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<h1>お店削除</h1>
		<p th:text="削除するお店を選んでください"></p>
		<form method="post" action="#" th:action="@{/shopdeleteconfirm}" th:object="${shopModel}">
		<table>
			<tr>
				<th>削除</th>
				<th>店名</th>
				<th>URL</th>
				<th>電話番号</th>
				<th>備考</th>
			</tr>
			<tr th:each="ask_shop : ${ask_shop}">
				<td><input type="checkbox"></td>
				<td th:text="${ask_shop.get('name')}"></td>
				<td th:text="${ask_shop.get('url')}"></td>
				<td th:text="${ask_shop.get('phoneNumber')}"></td>
				<td th:text="${ask_shop.get('remark')}"></td>
			</tr>
		</table>
		</form>
		<br /> <br /> <input type="submit" value="削除" class="button"/>
		<br /> <br /> <a href="https://www.asking.co.jp/"
			class="btn-flat-vertical-border">帰属意識を高めたくなった</a> <br /> <br />
	</div>
</body>
</html>