<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>お店リスト</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<h1>お店登録</h1>
		<p class="moji1">登録したいお店を入力してください</p>
		<p style="color: red">※　*は入力必須項目です</p>
		<form method="post" action="#" th:action="@{/shopconfirm}" th:object="${shopForm}">
		<table>
		<tr>
		<th>店名*</th>
		<td><input type="text" name="name" th:field="*{name}" th:errorclass="fieldError" size="50"/></td>
		</tr>
		<tr>
		<th>URL</th>
		<td><input type="text" name="url" th:field="*{url}" size="50"/></td>
		</tr>
		<tr>
		<th>電話番号*</th>
		<td><input type="text" name="phoneNumber" th:field="*{phoneNumber}" size="50"/></td>
		</tr>
		<tr>
		<th>備考</th>
		<td><input type="text" name="remark" th:field="*{remark}" size="50"/></td>
		</tr>
		</table>
		
		<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
		<br />
		<span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" style="color: red"></span>
		<br />
		<br />
		<input type="submit" value="登録" class="button"/>
		<button type="button" class="button"
			onclick="location.href='http://localhost:8080/shop'">キャンセル</button>
		</form>
		<br />
		<br />
		<a href="https://www.asking.co.jp/" class="btn-flat-vertical-border">帰属意識を高めよう</a>
	</div>
</body>
</html>
