<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>お店リスト</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/top}"> <img src="img/cmt_logo.png"
				alt="AskCommittee" />
			</a>
		</div>
		<h1>お店削除</h1>
		<p th:text="削除するお店を選んでください" class="moji1"></p>
		<form method="post" action="#" th:action="@{/shopdeleteconfirm}"
			th:object="${shopRequest}">
			<table>
				<tr>
					<th>店名</th>
					<th>URL</th>
					<th>電話番号</th>
					<th>備考</th>
					<th>削除</th>
				</tr>
				<tr th:each="ask_shop : ${ask_shop}">
					<td th:text="${ask_shop.get('name')}" th:name="name"
						th:field="*{name}"></td>
					<td th:text="${ask_shop.get('url')}" th:name="url"
						th:field="*{url}"></td>
					<td th:text="${ask_shop.get('phone_number')}"
						th:name="phone_number" th:field="*{phone_number}"></td>
					<td th:text="${ask_shop.get('remark')}" th:name="remark"
						th:field="*{remark}"></td>
					<td><input type="hidden" name="id" th:field="*{id}"
						th:value="${ask_shop.get('id')}" /><input type="submit"
						th:value="削除" /></td>
				</tr>
			</table>
		</form>

		<br /> <br />
		<button type="button" class="button"
			onclick="location.href='http://localhost:8080/shop'">キャンセル</button>
		<br /> <br /> <br /> <a href="http://localhost:8080/top"
			class="btn-circle-border-double">TOPページへ</a> <br /> <br /> <br />
	</div>
</body>
</html>