<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>お店リスト</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<h1>お店登録確認</h1>
		<br />
		<p class="moji1">以下のお店を登録します。よろしいですか？</p>
		<form method="post" action="/shopconfirm">
		<span>店名: </span>
		<span th:text="${shopModel.name}"></span>
		<br />
		<span>URL: </span>
		<span th:text="${shopModel.url}"></span>
		<br />
		<span>電話番号: </span>
		<span th:text="${shopModel.phoneNumber}"></span>
		<br />
		<span>備考: </span>
		<span th:text="${shopModel.remark}"></span>
		<br />
		</form>
		<br /> <br /> <button type="button" class="button" onclick="location.href='http://localhost:8080/shopcomple'">はい</button>
		<button type="button" class="button" onclick="location.href='http://localhost:8080/shopregister'">いいえ</button>
			<br /> <br />
	</div>
</body>
</html>
