<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>お店リスト</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/top}">
				<img src="img/cmt_logo.png" alt="AskCommittee" />
			</a>
		</div>	
		<h1>お店削除確認</h1>
		<br />
		<p>以下のお店を削除します。よろしいですか？</p>
		<form method="post" action="#" th:action="@{/delete}" th:object="${shopRequest}">
		<span>店名: </span>
		<span th:text="${name}"></span>
		<br />
		<span>URL: </span>
		<span th:text="${url}"></span>
		<br />
		<span>電話番号: </span>
		<span th:text="${phone_number}"></span>
		<br />
		<span>備考: </span>
		<span th:text="${remark}"></span>
		<br />
		</form>
		<br /> <br /> <input type="submit" value="はい" class="button"/>
		<button type="button" class="button" onclick="location.href='http://localhost:8080/shopregister'">いいえ</button>
			<br /> <br />
		<button type="button"
			onclick="location.href='https://www.asking.co.jp/'">帰属意識を高めよう</button>
	</div>
</body>
</html>
