<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>お店リスト</title>
</head>
<body>
	<div align="center">
		<h1>お店リスト</h1>
		<p>じゅんびちゅう</p>
		<table border="1">
			<tr>
				<th>店名</th>
				<th>URL</th>
				<th>備考</th>
			</tr>
			<tr>
				<td>たまや</td>
				<td><a href= "https://fbgf901.gorp.jp/" >https://fbgf901.gorp.jp/</a></td>
				<td>忘年会</td>
			</tr>
			<tr>
				<td>カラオケ館</td>
				<td><a href= "https://loco.yahoo.co.jp/place/g-GLllRNAS1-2/" >https://loco.yahoo.co.jp/place/g-GLllRNAS1-2/</a></td>
				<td>二次会で利用</td>
			</tr>
		</table>
		<br /> <br /> <button type="button" onclick="location.href='http://localhost:8080/shop/register'">お店登録</button><input
			type="submit" value="削除"> <br /> <br />
		<button type="button"
			onclick="location.href='https://www.asking.co.jp/'">帰属意識を高めたくなった</button>
	</div>
</body>
</html>