<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>お店リスト</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center">
		<h1>お店登録</h1>
		<form method="post" action="/shop/confirm">
		<span>店名: </span>
		<input type="text" name="name" value="" />
		<br />
		<span>URL: </span>
		<input type="text" name="url" value="" />
		<br />
		<span>電話番号: </span>
		<input type="text" name="phoneNumber" value="" />
		<br />
		<span>備考: </span>
		<input type="text" name="remark" value="" />
		<br />
		<div class="btn-cross">
		<input type="submit" value="send" class="button"/>
		</div>
	</form>
​
		<br /> <br />
		<button type="button"
			onclick="location.href='http://localhost:8080/shop/confirm'">登録</button>
		<button type="button"
			onclick="location.href='http://localhost:8080/shop'">キャンセル</button>
		<br /> <br />
		<button type="button"
			onclick="location.href='https://www.asking.co.jp/'">帰属意識を高めよう</button>
	</div>
</body>
</html>
