<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/common"
	layout:decorator="common">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>お店リスト</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<h1>お店リスト</h1>
		<p>お店候補</p>
		<table>
			<tr>
				<th>店名</th>
				<th>URL</th>
				<th>電話番号</th>
				<th>備考</th>
			</tr>
			<tr th:each="ask_shop : ${ask_shop}">
				<td th:text="${ask_shop.get('name')}"></td>
				<td><a th:href="@{${ask_shop.get('url')}}" th:text="${ask_shop.get('url')}"></a></td>
				<td th:text="${ask_shop.get('phone_number')}"></td>
				<td th:text="${ask_shop.get('remark')}"></td>
			</tr>
		</table>
		<br /> <br />
		<button type="button" class="button"
			onclick="location.href='http://localhost:8080/shopregister'">登録
		</button>
		<button type="button" class="button"
			onclick="location.href='http://localhost:8080/shopdelete'">削除
		</button>
		<br /> <br /> <a href="http://localhost:8080/top"
			class="btn-circle-border-double">TOPページへ</a> <br /> <br />
	</div>
</body>
</html>
