<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/common"
	layout:decorator="common">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>AskCommittee</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div layout:fragment="content">
	<div id="container">
		<header>
			<a href="https://www.asking.co.jp/">
				<img src="https://www.asking.co.jp/images/common/logo.png" alt="株式会社アスキング">
			</a>
		</header>
		<div align="center">
			<h1>AskCommittee</h1>
			<p th:text="AskCommitteeは株式会社アスキング北九州LABの委員会（天地会・設備会）活動を記録・管理するものである。" />
			<p>じゅんびちゅう</p>
			<a th:href="@{/schedule}">schedule</a>
			<a th:href="@{/budget}">budget</a>
			<a th:href="@{/shop}">shop</a>			
			<a th:href="@{/member}">member</a>

			<br /> <br />
			<a href="http://localhost:8080/login">logout</a>	
				
		</div>
		
		<footer>
			<hr />
			<a href="https://privacymark.jp/"> <img
				src="https://www.asking.co.jp/images/common/10824697_01_200_JP.png"
				alt="プライバシーマーク" width="100" height="100">
			</a>
			<address>
				<p class="footer-company">株式会社アスキング 北九州LAB</p>
				<p class="footer-address">〒802-0001 福岡県北九州市小倉北区浅野２丁目１４−１</p>
			</address>
			<p class="footer-copy">
				<small>© ASKing Co., Ltd.</small>
			</p>
		</footer>
		</div>
	</div>
</body>
</html>