<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/common"
	layout:decorator="common">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>AskCommittee</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div layout:fragment="content">
	<div id="container">
		<header>
			<img src="https://www.asking.co.jp/images/common/logo.png"
				alt="株式会社アスキング">
		</header>
		<div align="center">
			<h1>AskCommittee</h1>
			<p
				th:text="AskCommittee（以下、本システム）は株式会社アスキング北九州LABの委員会（天地会・設備会）活動を記録・管理するものである。本システム導入にあたり、委員会活動中における作業の効率化を図り、従業員一同がより良い職場環境を築くことができるものとする。" />
			<p>じゅんびちゅう</p>
			<button type="button"
				onclick="location.href='http://localhost:8080/login'">Enter</button>
			<br /> <br />
			<button type="button"
				onclick="location.href='https://www.asking.co.jp/'">帰属意識を高めてみる</button>
		</div>
		
		<footer>
			<hr />
			<a href="https://privacymark.jp/"> <img
				src="https://www.asking.co.jp/images/common/10824697_01_200_JP.png"
				alt="プライバシーマーク" width="100" height="100">
			</a>
			<address>
				<p class="footer-company">株式会社アスキング 北九州LAB</p>
				<p class="footer-address">〒802-0001 福岡県北九州市小倉北区浅野２丁目１４−１</p>
			</address>
			<p class="footer-copy">
				<small>© ASKing Co., Ltd.</small>
			</p>
		</footer>
		</div>
	</div>
</body>
</html>