<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>退会完了</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<img src="img/cmt_logo.png" alt="AskCommittee"/>
		</div>
		<h1>退会完了</h1>
		<p>ご利用ありがとうございました。</p>
		<img src="img/withdraw.png" alt="タイムリーフに飼われる人々" width="492" height="332">
		<br />
		<br />
		<a href="https://www.asking.co.jp/" class="btn-flat-vertical-border">最後に帰属意識を高めて帰ってください</a>
		<br />
		<br />
	</div>
</body>
</html>