<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8">
<title>退会</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div align="center" id="container">
		<div class="cmt_logo">
			<a th:href="@{/top}">
				<img src="img/cmt_logo.png" alt="AskCommittee" />
			</a>
		</div>
		<h1>退会手続き</h1>
		
		<table>
		<tr>
			<th>ユーザー名</th>
			<td><input type="text" name="email" size="40" /></td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td><input type="text" name="password" size="40" /></td>
		</tr>	
		</table>
		<br />
		<a th:href="@{/withdrawconfirm}">確認画面へ</a>
		<br />
		<br />
		
	</div>
</body>
</html>